<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre - Regístrate</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="header-inicio">
        <img class="imagen-inicio" class="w-100" src="/img/logo-mercado-liebre.svg" alt="logo de la empresa">
        <div class="busqueda">
            <input class="input-search" type="search" id="site-search" name="q" placeholder="Buscar productos, marcas">
            <button class="button-search"><i class="fa-solid fa-magnifying-glass w-100"></i></button>
        </div>
        <div class="div-inicio"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</div>
        <nav class="nav-header w-100">
            <ul class="decoradoNo flex nav-ul1">
                <li><a class="decoradoNo" href="#">Ofertas</a></li>
                <li><a class="decoradoNo" href="#">Tiendas Oficiales</a></li>
                <li><a class="decoradoNo" href="#">Vender</a></li>
                <li><a class="decoradoNo" href="#">Ayuda</a></li>
            </ul>
            <ul class="decoradoNo flex nav-ul2">
                <li><a class="decoradoNo" href="/crea-tu-cuenta">Creá tu cuenta <i class="fa-regular fa-user"></i></a></li>
                <li><a class="decoradoNo" href="/inicia-sesion">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a class="decoradoNo" href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav> 
            <div class="burger-menu">
                <i class="fas fa-bars detalles" ></i>
            </div>
    </header>

    <main>
        
    </main>

    <footer>
        <ul>
            <li>
                <article class="articulos-footer">
                <i class="fa-sharp fa-solid fa-credit-card arreglosIconos"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
                </article>
            </li>
            <li>
                <article class="articulos-footer">
                <i class="fa-solid fa-gift arreglosIconos"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
                </article>
            </li>
            <li>
                <article class="articulos-footer">
                <i class="fa-solid fa-user-shield arreglosIconos"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
                </article>
            </li>
            <li>
                <p class="articuloEspecial">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </li>
        </ul>
    </footer>
</body>
</html>