/*
Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/
body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    box-sizing: border-box;
    background-color: #ebebeb;
    
}

.w-100{
    width: 100%;
}
/*-----------------clases----------*/
.flex{
    display: flex;
}
.w-50{
    width: 50%;
}
/*-----------------------header-----------------*/

.imagen-inicio{
    width: 42%;
    margin: 30px 10px 20px 15px;
    background-color: #EAC926;
}

.busqueda{
    display: flex;
    align-self: center;
    justify-content: center;
    height: 30px;
    width: 42%;
    margin: 10px 5px 10px 5px;
}
.input-search{
    width: 85%;
    border: 0;
    border-radius: 5px 0 0 5px;
    padding: 5px;
    flex-grow: 1;
}
.button-search{
    border: 0;
    border-radius: 0 5px 5px 0;
    background-color: #ffffff;
    padding: 5px;
}

.header-inicio{
    background-color: #EAC926;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.div-inicio{
    text-align: center;
    margin: 15px;
    width: 100%;
}
.decoradoNo{
    text-decoration: none;
    list-style: none;
    color: black;
}

.nav-header{
    display: none;
}

.burger-menu{
    width: 100%;
    color: white;
    text-align: center;
}
.detalles{
    background-color: #1259c3;
    font-size: 18px;
    margin: 10px; 
    padding: 8px 10px 8px 10px;
    border-radius: 4px;
}

/*--------------------------- main-----------------------*/
.h1-especiales{
    text-align: center;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.w-100-article{
    width: 100%;
}
main{
    width: 90%;
    margin: auto;
}

main article{
    margin-bottom: 20px;
    background-color: white;
}

.border-articulo{
    border-radius: 5px;
}

.articulo-bloque{
    border-top: solid #ebebeb 1px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.posicionamiento{
    display: block;
    color: #39b54a;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: transform 1s;
}
.titulares{
    font-size: 24px;
    color: #666;
    margin: 20px 20px 20px 0px;
}
.precios{
    font-size: 18px;
    padding-right: 10px;
}
.descuentos{
    font-size: 16px;
    color: #39b54a;
    align-self: center;
}
.descripciones{
    font-size: 16px;
    color: #666;
    margin-top: 15px;
    width: 100%;
    opacity: 0;
    transition: 0.5s;
} 
/*--------------------------- footer-----------------------*/
footer{
    width: 100%;
    background-color:#ffffff
}

footer ul{
    list-style: none;
    padding-top: 1px;
}
.articulos-footer{
    text-align: center;
    margin: 40px
}
.m-t{
    margin-top: 25px;
}
.articuloEspecial{
    color: #666;
    margin: 20px 20px 0 20px;
    padding-bottom: 15px;
}
.arreglosIconos{
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}
.arreglosIconos:hover{
    color: #03264C;
}

.footer-login{
    position: absolute;
    bottom: 0;
}

/*------------------------main register - login-------------------*/

.formularioRegistro{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.main-registro{
    width: 90%;
    margin: auto;
    margin-top: 15px;
}
.ubi-input-form{
    margin: 10px;
    width: 100%;
    max-width: 400px;
}

.bordes-inputs{
    border: 0;
    border-radius: 3px;
    padding: 7px;
}

.titulos-form{
    font-weight: 600;
}

.bt-form{
    border: none;
    border-radius: 3px;
    background-color: #1259c3;
    color: #ffffff;
    padding: 5px;
    margin: 10px;
    width: 100%;
    max-width: 400px;
}

@media (min-width:480px){
    /*tablests*/
    main article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .w-100-article{
        width: 45%;
    }
    .nav-header{
        display: flex;
        margin: 15px;
        justify-content: space-between;
    }
    .nav-ul1{
        justify-content:space-evenly;
        width: 48%;
    }
    .nav-ul2{
        justify-content: space-evenly;
        width: 52%;
    }
    .burger-menu{
        display: none;
    }
    
    .imagen-inicio{
        width: 28%;
    }
    .busqueda{
        width: 28%;
    }
    .div-inicio{
        width: 28%;
        align-self: center;
    }
    
}
    
@media (min-width:769px){
    /*laptop*/
    .burger-menu{
        display: none;
    }
    .movimiento:hover .descripciones{
        opacity: 1;
    }
    main article{
        box-shadow: none;
    }
    main article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .movimiento:hover .posicionamiento{
        transform: rotateZ(360deg);
        
    }
    .bt-form:hover{
        background-color: #0022AA;
    }
}
    
@media (min-width:1281px){
    /*desktop*/
    .w-100-article{
        width: 22%;
    }
    .burger-menu{
        display: none;
    }
    .flex-footer{
        display: flex;
        justify-content: space-between;
    }
    .wrap-footer{
        flex-wrap: wrap;
    }
    .w-33{
        width: 33%;
    }
}